.idea
.coverage
htmlcov
.env
.venv
.gitignore
docker/Dockerfile
__pycache__
*.pyo
*.pyd
*.log
*.swp
*.swo
*.swn
*.bak
*.tmp
*.DS_Store
*.egg-info/
dist/
build/
.dockerignore
.git/
*.sqlite3
node_modules/
*.lock
*Dockerfile*
